body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:-1px;
  top:0px;
  width:375px;
  height:667px;
}
#u955 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:0px;
  top:613px;
  width:373px;
  height:50px;
}
#u958 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u960 {
  position:absolute;
  left:10px;
  top:621px;
  width:30px;
  height:26px;
}
#u960_img.selected {
}
#u960.selected {
}
#u961 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u962 {
  position:absolute;
  left:3px;
  top:649px;
  width:50px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u962_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u962.selected {
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u965 {
  position:absolute;
  left:94px;
  top:621px;
  width:26px;
  height:26px;
}
#u965_img.selected {
}
#u965.selected {
}
#u966 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u967 {
  position:absolute;
  left:83px;
  top:649px;
  width:50px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u967_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u967.selected {
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u970 {
  position:absolute;
  left:262px;
  top:621px;
  width:28px;
  height:26px;
}
#u970_img.selected {
}
#u970.selected {
}
#u971 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u972 {
  position:absolute;
  left:251px;
  top:649px;
  width:50px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u972_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u972.selected {
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u975 {
  position:absolute;
  left:336px;
  top:621px;
  width:26px;
  height:26px;
}
#u975_img.selected {
}
#u975.selected {
}
#u976 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u977 {
  position:absolute;
  left:324px;
  top:649px;
  width:50px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u977_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u977.selected {
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u980 {
  position:absolute;
  left:183px;
  top:621px;
  width:26px;
  height:26px;
}
#u980_img.selected {
}
#u980.selected {
}
#u981 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u982 {
  position:absolute;
  left:171px;
  top:649px;
  width:50px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u982_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u982.selected {
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:10px;
  top:10px;
  width:355px;
  height:190px;
}
#u985 {
  position:absolute;
  left:2px;
  top:87px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u986 {
  position:absolute;
  left:76px;
  top:39px;
  width:67px;
  height:20px;
  color:#666666;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  position:absolute;
  left:10px;
  top:225px;
  width:355px;
  height:102px;
}
#u990 {
  position:absolute;
  left:2px;
  top:43px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u991 {
  position:absolute;
  left:10px;
  top:298px;
  width:40px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u993 {
  position:absolute;
  left:85px;
  top:298px;
  width:40px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u995 {
  position:absolute;
  left:159px;
  top:298px;
  width:40px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u997 {
  position:absolute;
  left:234px;
  top:298px;
  width:40px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u999 {
  position:absolute;
  left:308px;
  top:298px;
  width:57px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1001 {
  position:absolute;
  left:14px;
  top:262px;
  width:32px;
  height:32px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1003 {
  position:absolute;
  left:159px;
  top:262px;
  width:32px;
  height:32px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1005 {
  position:absolute;
  left:321px;
  top:262px;
  width:32px;
  height:32px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1007 {
  position:absolute;
  left:89px;
  top:262px;
  width:32px;
  height:32px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1009 {
  position:absolute;
  left:238px;
  top:262px;
  width:32px;
  height:32px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1011 {
  position:absolute;
  left:10px;
  top:232px;
  width:57px;
  height:20px;
  color:#666666;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1013 {
  position:absolute;
  left:34px;
  top:33px;
  width:32px;
  height:32px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:10px;
  top:347px;
  width:355px;
  height:102px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:43px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u1019 {
  position:absolute;
  left:13px;
  top:420px;
  width:40px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1021 {
  position:absolute;
  left:14px;
  top:384px;
  width:32px;
  height:32px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u1024 {
  position:absolute;
  left:201px;
  top:420px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1026 {
  position:absolute;
  left:211px;
  top:384px;
  width:32px;
  height:32px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u1029 {
  position:absolute;
  left:114px;
  top:420px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1031 {
  position:absolute;
  left:111px;
  top:384px;
  width:32px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u1034 {
  position:absolute;
  left:312px;
  top:420px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1036 {
  position:absolute;
  left:316px;
  top:384px;
  width:32px;
  height:32px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1038 {
  position:absolute;
  left:10px;
  top:354px;
  width:57px;
  height:20px;
  color:#666666;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:56px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1040 {
  position:absolute;
  left:424px;
  top:74px;
  width:131px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1041 {
  position:absolute;
  left:10px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1042 {
  position:absolute;
  left:424px;
  top:102px;
  width:0px;
  height:0px;
}
#u1042_seg0 {
  position:absolute;
  left:-170px;
  top:2px;
  width:174px;
  height:15px;
  -webkit-transform:rotate(176deg);
  -moz-transform:rotate(176deg);
  -ms-transform:rotate(176deg);
  transform:rotate(176deg);
}
#u1042_seg1 {
  position:absolute;
  left:-334px;
  top:-20px;
  width:175px;
  height:17px;
  -webkit-transform:rotate(-161deg);
  -moz-transform:rotate(-161deg);
  -ms-transform:rotate(-161deg);
  transform:rotate(-161deg);
}
#u1042_seg2 {
  position:absolute;
  left:-330px;
  top:-50px;
  width:20px;
  height:20px;
}
#u1043 {
  position:absolute;
  left:-216px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:375px;
  height:667px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1047 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:375px;
  height:667px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  position:absolute;
  left:78px;
  top:159px;
  width:217px;
  height:34px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:78px;
  top:217px;
  width:106px;
  height:34px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:9px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u1053 {
  position:absolute;
  left:139px;
  top:96px;
  width:97px;
  height:44px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:14px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1055 {
  position:absolute;
  left:78px;
  top:272px;
  width:217px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u1057 {
  position:absolute;
  left:209px;
  top:164px;
  width:1px;
  height:25px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1059 {
  position:absolute;
  left:219px;
  top:168px;
  width:66px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1061 {
  position:absolute;
  left:93px;
  top:222px;
  width:72px;
  height:25px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:194px;
  top:218px;
  width:101px;
  height:34px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064 {
  position:absolute;
  left:209px;
  top:223px;
  width:72px;
  height:25px;
}
#u1064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1065 {
  position:absolute;
  left:203px;
  top:316px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1067 {
  position:absolute;
  left:169px;
  top:509px;
  width:35px;
  height:30px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1069 {
  position:absolute;
  left:158px;
  top:549px;
  width:57px;
  height:20px;
  color:#666666;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1071 {
  position:absolute;
  left:20px;
  top:20px;
  width:15px;
  height:15px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073 {
  position:absolute;
  left:93px;
  top:164px;
  width:116px;
  height:25px;
}
#u1073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1075 {
  position:absolute;
  left:432px;
  top:245px;
  width:0px;
  height:0px;
}
#u1075_seg0 {
  position:absolute;
  left:-224px;
  top:-37px;
  width:232px;
  height:21px;
  -webkit-transform:rotate(-163deg);
  -moz-transform:rotate(-163deg);
  -ms-transform:rotate(-163deg);
  transform:rotate(-163deg);
}
#u1075_seg1 {
  position:absolute;
  left:-418px;
  top:-139px;
  width:231px;
  height:19px;
  -webkit-transform:rotate(-141deg);
  -moz-transform:rotate(-141deg);
  -ms-transform:rotate(-141deg);
  transform:rotate(-141deg);
}
#u1075_seg2 {
  position:absolute;
  left:-392px;
  top:-211px;
  width:20px;
  height:20px;
}
#u1076 {
  position:absolute;
  left:-263px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1077 {
  position:absolute;
  left:432px;
  top:222px;
  width:132px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1078 {
  position:absolute;
  left:10px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
